@import '../../../../../utils/colors.scss';

:host {
  img {
    display: block;
    width: 100%;
    object-fit: scale-down;
  }

  .introducao {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  .introducao-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .introducao-conteudo {
    margin-top: 80px;

    h1 {
      margin: 20px 0;
      font-size: 4.5rem;
      text-transform: uppercase;
      transition: all .50s ease;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.1;
      transition: all .50s ease;
    }

    p:nth-child(3n) {
      margin-bottom: 40px;
      transition: all .50s ease;
    }

    .btn {
      display: inline-block;
      background: $dark-grey-color;
      color: $white-color;
      padding: 16px 26px;
      border-radius: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      transition: all .55s ease;
      border: 2px solid $dark-grey-color;
      transition: all .50s ease;
      cursor: pointer;
    }

    .btn-ccv {
      margin-left: 20px;
    }

    a:hover {
      background: transparent;
      color: $dark-grey-color;
    }
  }

  .introducao-social-medias {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 30%;
    padding: 0 20px;
    gap: 20px;

    i {
      display: block;
      font-size: 2rem;
      transition: all .50s ease;
    }

    i:hover {
      transform: translateY(-5px);
    }
  }

  @media (max-width: 1500px) {

    .introducao-conteudo {
      margin-top: 60px !important;

      h1 {
        margin: 10px 0;
      }

      p:nth-child(3n) {
        margin-bottom: 40px !important;
      }

      a {
        padding: 10px 21px;
      }
    }

    .introducao-social-medias {
      display: none !important;
    }
  }

  @media (max-width: 1000px) {
    img {
      margin-top: -40px;
    }

    .introducao-container {
      .introducao-conteudo {
        margin-top: 0px !important;
      }

      h1 {
        margin: 6px 0;
      }

      a {
        padding: 10px 15px;
      }
    }
  }

  @media (max-width: 900px) {
    .btn-section {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 10px;
    }

    .btn-ccv {
      margin-left: 0px !important;
    }

    .introducao-conteudo {
      h1 {
        font-size: 3rem !important;
      }

      p:nth-child(3n) {
        margin-bottom: 30px !important;
      }
    }


  }

  @media (max-width: 700px) {
    .introducao-container {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }

    img {
      width: 60%;
      margin: 20px auto 0 auto;
    }

    .btn-section {
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .introducao-conteudo {

      h1 {
        font-size: 2rem !important;
      }

      .btn {
        font-size: 1rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.1;
      }
    }
  }

  @media (max-width: 450px) {
    img {
      width: 100%;
    }
  }
}