<main class="introducao">
  <div class="introducao-container">
    <div class="introducao-conteudo">
      <p>Olá pessoas,</p>
      <h1>Eu sou programador</h1>
      <p>Sejam bem vindos ao meu portifólio website.</p>
      <div class="btn-section">
        <a class="btn btn-see-more">Saiba mais sobre mim</a>
        <a class="btn btn-ccv" (click)="downloadPdf()">Download CCV</a>
      </div>

    </div>
    <img class="introducao-image" src="../../../assets/introducao.svg" alt="introducao">
    <div class="introducao-social-medias">
      <a href="#" title="Github"><i class="fa-brands fa-github"></i></a>
      <a href="#" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" title="Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
  </div>
</main>